.hero{
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.hero-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-left: 160px;
    line-height: 1.1;
}

.hero-left h2{
    color: #090909;
    font-size: 24px;
    font-weight: 600;
}

.hero-left p{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 6px;
}

.hero-hand-icon img{
    width: 80px;
    height: auto;
}

.hero-latest-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 260px;
    height: 60px;
    border-radius: 75px;
    margin-top: 28px;
    background: #ff4131;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.hero-right{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.hero-right img{
    width: 400px;
    height: auto;
}

@media(max-width: 1280px){
    .hero-left{
        padding-left: 150px;
    }
    .hero-left h2{
        font-size: 22px;
    }
    .hero-left p{
        font-size: 60px;
    }
    .hero-hand-icon img{
        width: 80px;
        height: auto;
    }
    .hero-latest-button{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
    .hero-right img{
        width: 400px;
        height: auto;
    }
}

@media(max-width: 1024px){
    .hero-left{
        padding-left: 110px;
    }
    .hero-left h2{
        font-size: 20px;
    }
    .hero-left p{
        font-size: 50px;
    }
    .hero-hand-icon img{
        width: 65px;
        height: auto;
    }
    .hero-latest-button{
        width: 220px;
        height: 50px;
        font-size: 16px;
    }
    .hero-right img{
        width: 300px;
        height: auto;
    }
}

@media(max-width: 800px){
    .hero-left{
        padding-left: 90px;
    }
    .hero-left h2{
        font-size: 16px;
    }
    .hero-left p{
        font-size: 40px;
    }
    .hero-hand-icon img{
        width: 50px;
        height: auto;
    }
    .hero-latest-button{
        width: 200px;
        height: 42px;
        font-size: 13px;
    }
    .hero-right img{
        width: 280px;
        height: auto;
    }
}

@media(max-width: 500px){
    .hero{
        flex-direction: column;
    }
    .hero-right{
        display: none;
    }
    .hero-left h2{
        font-size: 20px;
    }
    .hero-left p{
        font-size: 50px;
    }
    .hero-hand-icon img{
        width: 75px;
        height: auto;
    }
    .hero-latest-button{
        width: 250px;
        height: 75px;
        font-size: 18px;
        font-weight: 500;
    }
}